<div class="mass-import-dialog">
  <!-- Folder Path Section -->
  <div class="section">
    <div class="section-header">Folder Path</div>
    <div class="section-body">
      <div class="row">
        <div class="cell wide"><input name="folder-path" type="text" style="width: 98%;"></div>
        <div class="cell"><button type="button" class="picker-button"><i class="fas fa-file-import fa-fw"></i> Browse</button></div>
      </div>
    </div>
  </div>

  <!-- Basics Section -->
  <div class="section">
    <div class="section-header">Basics</div>
    <div class="section-body">
      <div class="row">
        <div class="cell">Background Color</div>
        <div class="cell">Folder Name</div>
      </div>
      <div class="row">
        <div class="cell"><input type="text" id="background_color" value="#000000"/></div>
        <div class="cell"><input type="text" id="folderName" value="Cenas"/></div>
      </div>
      <div class="row">
        <div class="cell">Navigation</div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"><input type="checkbox" name="select_navigation"></div>
        <div class="cell"></div>
      </div>
    </div>
  </div>

  <!-- Grid Section -->
  <div class="section">
    <div class="section-header">Grid</div>
    <div class="section-body">
      <div class="row">
        <div class="cell">Alpha</div>
        <div class="cell">Distance</div>
      </div>
      <div class="row">
        <div class="cell"><input type="range" min="0" max="1" value="0" step="0.01" id="grid_alpha"></div>
        <div class="cell"><input type="number" min="1" id="grid_distance" value="1"/></div>
      </div>
      <div class="row">
        <div class="cell">Size</div>
        <div class="cell">Type</div>
      </div>
      <div class="row">
        <div class="cell"><input type="number" min="50" id="grid_size" value="50"/></div>
        <div class="cell">
          <select name="select_grid_type">
            <option value="0">Gridless</option>
            <option value="1" selected>Square</option>
            <option value="2">Hexagonal Rows - Odd</option>
            <option value="3">Hexagonal Rows - Even</option>
            <option value="4">Hexagonal Columns - Odd</option>        
            <option value="5">Hexagonal Columns - Even</option>                    
          </select>    
        </div>
      </div>
      <div class="row">
        <div class="cell">Units</div>
        <div class="cell">Padding</div>
      </div>
      <div class="row">
        <div class="cell"><input type="text" id="grid_units" value="In"/></div>
        <div class="cell"><input type="range" min="0" max="0.5" value="0" step="0.01" id="scene_padding"></div>
      </div>
    </div>
  </div>

  <!-- Lighting Section -->
  <div class="section">
    <div class="section-header">Lighting</div>
    <div class="section-body">
      <div class="row">
        <div class="cell">Token Vision</div>
        <div class="cell">Fog Exploration</div>
      </div>
      <div class="row">
        <div class="cell"><input type="checkbox" name="token_vision"></div>
        <div class="cell"><input type="checkbox" name="fog_exploration"></div>
      </div>
    </div>
  </div>
</div>