<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:2px 2px;
    word-break:normal;
  }
  .tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-weight:normal;
    overflow:hidden;
    padding: 2px 2px;
    word-break:normal;
  }
  .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
</style>

<table>
<thead>
  <tr>
    <th colspan="2">Folder Path</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><input name="folder-path" style="width:100%;"></td>
    <td><button class="picker-button"><i class="fas fa-file-import fa-fw"></i></button></td>
  </tr>
</tbody>
</table>

<table class="tg">
<thead>
  <tr>
    <th class="tg-9wq8" colspan="2">Configuration</th>
  </tr>
</thead>
<tbody>

  <tr>
    <td class="tg-9wq8">Import Type</td>
    <td class="tg-9wq8">Folder Name</td>
  </tr>
  <tr>
    <td class="tg-9wq8">
      <select name="select_import_type">
        <option value="0" selected>Each Image One Page</option>
        <option value="1">Each Image One Journal Image</option>
        <option value="2">All Images into Text Page</option>
        <option value="3">PDF</option>
        <option value="4">Video</option>
      </select>  
    </td>
    <td class="tg-9wq8"><input type="text" id="folder_name" value='My Folder'/></td>
  </tr>

  <tr>
    <td class="tg-9wq8">Journal Name</td>
    <td class="tg-9wq8"></td>
  </tr>
  <tr>
    <td class="tg-9wq8"><input type="text" id="journal_name" value='My Journal'/></td>
    <td class="tg-9wq8"></td>
  </tr>
  
</tbody>
</table>


<table class="tg">
<thead>
  <tr>
    <th class="tg-9wq8" colspan="2">Video Options</th>
  </tr>
</thead>
<tbody>

  <tr>
    <td class="tg-9wq8">Show Video Controls</td>
    <td class="tg-9wq8">Autoplay Video</td>
  </tr>
  <tr>
    <td class="tg-9wq8"><input type="checkbox" name="video_show_video_controls"></td>
    <td class="tg-9wq8"><input type="checkbox" name="video_autoplay"></td>
  </tr>

  <tr>
    <td class="tg-9wq8">Loop</td>
    <td class="tg-9wq8">Volume</td>
  </tr>
  <tr>
    <td class="tg-9wq8"><input type="checkbox" name="video_loop"></td>
    <td class="tg-9wq8"><input type="range" min="0" max="1" value="0" step="0.01" class="slider" id="video_volume"></td>
  </tr>
  
</tbody>
</table>