<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:2px 2px;
    word-break:normal;
  }
  .tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-weight:normal;
    overflow:hidden;
    padding: 2px 2px;
    word-break:normal;
  }
  .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
</style>

<table>
<thead>
  <tr>
    <th colspan="2">Folder Path</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><input name="folder-path" style="width:100%;"></td>
    <td><button class="picker-button"><i class="fas fa-file-import fa-fw"></i></button></td>
  </tr>
</tbody>
</table>

<table>
<thead>
  <tr>
    <th colspan="2">Card Back Image</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><input name="card-back-image" style="width:100%;"></td>
    <td><button class="card-back-picker-button"><i class="fas fa-file-import fa-fw"></i></button></td>
  </tr>
</tbody>
</table>

<table class="tg">
<thead>
  <tr>
    <th class="tg-9wq8" colspan="2">Deck Configuration</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-9wq8" colspan="2">Deck Name</td>
  </tr>
  <tr>
    <td class="tg-9wq8" colspan="2"><input type="text" id="deck_name" value="My Deck"/></td>
  </tr>

  <tr>
    <td class="tg-9wq8">Width</td>
    <td class="tg-9wq8">Height</td>
  </tr>
  <tr>
    <td class="tg-9wq8"><input type="number" min="50" id="card_width" value="0"/></td>
    <td class="tg-9wq8"><input type="number" min="50" id="grid_height" value="0"/></td>
  </tr>
  
</tbody>
</table>
